
# Valid for EAS Build and Update
node_modules/
/node_modules
**/node_modules

# Native build artifacts
android/
ios/
dist/
web-build/
.expo/
.git/

# Backups
android_backup/
*_backup/

# Logs
npm-debug.log
yarn-error.log
.DS_Store
